/* add your CSS here */
#container {
  margin: auto;
  width: 60%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#cover {
  margin: auto;
  border: 1px solid;
  padding: 10px;
}
#api{
  text-align:center;
}
.fa {
    cursor: pointer;
    font-size: 50px;
}
.fa-plus-circle {
    color: green
}
.fa-minus-circle {
    color: red
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
p#interesting-fact {
	font-style: italic;
}
img {
  width: 100%;
  height: auto;
}
.responsive {
  width: 20%;
  height: auto;
}
